terraform {
  backend "s3" {
    bucket         = "{{ my_s3_bucket_name }}"
    key            = "development/terraform.tfstate"
    region         = "{{ aws_region }}"
    use_lockfile   = true  # Optional: Enables state locking
  }
}
